<div class="modal show animated fadeIn bg-danger " ng-if="modelDetail"
     style=" min-height: 100% !important; min-width: 100% !important; margin: 0; overflow-y: auto; ">
    <div class="modal-content container ">
        <div class="modal-header">
            <button type="button" class="btn btn-danger pull-right" ng-click="modelDetailClose()">X</button>

            <legend class="modal-title">Email Cover Sheet</legend>
        </div>
        <div class="modal-body ">
            <!--@start CoverSheetSubmit Form -->


            {{detailCoversheet}}

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="modelDetailClose()">Close</button>

        </div>

    </div>


</div>

