<div class="modal show animated fadeIn bg-danger " ng-if="modelInsert"
     style=" min-height: 100% !important; min-width: 100% !important; margin: 0; overflow-y: auto; ">
    <div class="modal-content container ">
        <div class="modal-header">
            <button type="button" class="btn btn-danger pull-right" ng-click="modelinsertClose()">X</button>

            <legend class="modal-title">Email Cover Sheet</legend>
        </div>
        <div class="modal-body ">
            <!--@start CoverSheetSubmit Form -->


            <form class="form-horizontal "  ng-disabled="isSaving" name="coversheetForm" ng-submit="insertCoverSheet(coversheetForm)"
                  novalidate>

                <div class="row">
                    <div class="col-lg-8">
                        <a class="btn btn-success" ng-click="currentDate()">current date</a>
                    </div>
                    <div class="form-group col-lg-6 col-md-6"
                         ng-class="{'has-error':coversheetForm.date.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.date.$valid }">


                        <label class="col-lg-2 control-label">Date</label>
                        <div class="col-lg-10">
                            <input type="date" class="form-control" name="date" ng-model="newCoversheet.date"
                                   placeholder="Insert Full Name" required>
                        </div>
                        <div class="col-lg-6 col-xs-offset-4">
                            <h5 ng-if="coversheetForm.date.$invalid &&  coversheetFormSubmitted"
                                class=" help-block ">Date is required
                            </h5>
                        </div>
                    </div>  <!--date-->

                    <div class="form-group col-lg-6 col-md-6"
                         ng-class="{'has-error':coversheetForm.time.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.time.$valid }">
                        <label class="col-lg-2 control-label">Time</label>
                        <div class="col-lg-10">
                            <input type="time" class="form-control" name="time" ng-model="newCoversheet.time"
                                   placeholder="HH:mm:ss" required>
                        </div>
                        <div class="col-lg-6 col-xs-offset-4">
                            <h5 ng-if="coversheetForm.time.$invalid &&  coversheetFormSubmitted"
                                class=" help-block ">Time is required
                            </h5>
                        </div>
                    </div>  <!--time-->
                </div>

                <fieldset style="margin:5px ;padding: 5px; background: #f1f1f1;">
                    <div class="row">
                        <div class="form-group col-lg-6 col-md-6"
                             ng-class="{'has-error':coversheetForm.toName.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.toName.$valid }">
                            <label class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="toName" ng-model="newCoversheet.toName"
                                       placeholder="(person or company name)" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.toName.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Name is required
                                </h5>
                            </div>
                        </div>  <!--toName-->
                        <div class="form-group col-lg-6 col-md-6"
                             ng-class="{'has-error':coversheetForm.toPhone.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.toPhone.$valid }">
                            <label class="col-lg-2 control-label">Phone</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="toPhone"
                                       ng-model="newCoversheet.toPhone" minlength="11"
                                       placeholder="Phone number" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.toPhone.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Phone is required
                                </h5>
                            </div>
                        </div>  <!--toPhone-->
                        <div class="form-group col-lg-6 col-md-6"
                             ng-class="{'has-error':coversheetForm.toFax.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.toFax.$valid }">
                            <label class="col-lg-2 control-label">Fax</label>
                            <div class="col-lg-10">
                                <input type="tel" class="form-control" name="toFax" ng-model="newCoversheet.toFax"
                                       placeholder="Fax number">
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.toFax.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Fax is required
                                </h5>
                            </div>
                        </div>  <!--Fax-->
                        <div class="form-group col-lg-6 col-md-6"
                             ng-class="{'has-error':coversheetForm.toEmail.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.toEmail.$valid }">
                            <label class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-10">
                                <input type="email" class="form-control" name="toEmail" ng-model="newCoversheet.toEmail"
                                       placeholder="Email " required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.toEmail.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Email is required
                                </h5>
                            </div>
                        </div>  <!--toEmail-->
                    </div>
                </fieldset>

                <div class="row">
                    <div class="form-group col-lg-6 col-md-6"
                         ng-class="{'has-error':coversheetForm.re.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.re.$valid }">
                        <label class="col-lg-2 control-label">RE:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="re" ng-model="newCoversheet.re"
                                   placeholder="Survey Assignment" required>
                        </div>
                        <div class="col-lg-6 col-xs-offset-4">
                            <h5 ng-if="coversheetForm.re.$invalid &&  coversheetFormSubmitted"
                                class=" help-block ">RE is required
                            </h5>
                        </div>
                    </div>  <!--re-->
                    <div class="form-group col-lg-6 col-md-6"
                         ng-class="{'has-error':coversheetForm.ourRef.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.ourRef.$valid }">
                        <label class="col-lg-2 control-label"> OUR REFERENCE:</label>
                        <div class="col-lg-10">
                            <input type="text" class="form-control" name="ourRef" ng-model="newCoversheet.ourRef"
                                   placeholder="Our Reference" required>
                        </div>
                        <div class="col-lg-6 col-xs-offset-4">
                            <h5 ng-if="coversheetForm.ourRef.$invalid &&  coversheetFormSubmitted"
                                class=" help-block ">REFERENCE is required
                            </h5>
                        </div>
                    </div>  <!--ourRef-->
                </div>

                <fieldset style="margin:5px ;padding: 5px; background: #f1f1f1;">

                    <div>
                        <h5>Please be advised that we have been appointed by ----- of ---- Agency to perform a survey
                            for
                            the below information:
                        </h5>

                    </div>
                    <div class="row">
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.motherVessel.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.motherVessel.$valid }">
                            <label class="col-lg-2 control-label"> MOTHER VESSEL :</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="motherVessel"
                                       ng-model="newCoversheet.motherVessel"
                                       placeholder="Enter Mother Vessel " required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.motherVessel.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">MOTHER VESSEL is required
                                </h5>
                            </div>
                        </div>  <!--MOTHER VESSEL-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.motherVoyage.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.motherVoyage.$valid }">
                            <label class="col-lg-2 control-label"> MOTHER VOYAGE :</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="motherVoyage"
                                       ng-model="newCoversheet.motherVoyage"
                                       placeholder="mother voyage" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.motherVoyage.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">MOTHER VOYAGE is required
                                </h5>
                            </div>
                        </div>  <!--motherVessel	:-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.arrived.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.arrived.$valid }">
                            <label class="col-lg-2 control-label"> ARRIVED :</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" name="arrived"
                                       ng-model="newCoversheet.arrived"
                                       placeholder="Arrived date" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.arrived.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Arrived is required
                                </h5>
                            </div>
                        </div>  <!--arrived-->

                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.billOfLoading.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.billOfLoading.$valid }">
                            <label class="col-lg-2 control-label">BILL OF LADING :</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="billOfLoading"
                                       ng-model="newCoversheet.billOfLoading"
                                       placeholder="bill Of Loading" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.billOfLoading.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">bill Of Loading is required
                                </h5>
                            </div>
                        </div>  <!--billOfLoading-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.containerNos.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.containerNos.$valid }">
                            <label class="col-lg-2 control-label"> CONTAINER NOS. :</label>
                            <div class="col-lg-10">
                                <input type="number" class="form-control" name="containerNos"
                                       ng-model="newCoversheet.containerNos"
                                       placeholder="CONTAINER NOS. " required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.containerNos.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">CONTAINER NOS. is required
                                </h5>
                            </div>
                        </div>  <!--containerNos-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.surveyLocation.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.surveyLocation.$valid }">
                            <label class="col-lg-2 control-label"> SURVEY LOCATION :</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="surveyLocation"
                                       ng-model="newCoversheet.surveyLocation"
                                       placeholder="Survey Assignment" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.surveyLocation.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">REFERENCE is required
                                </h5>
                            </div>
                        </div>  <!--surveyLocation-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.dateOfSurvey.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.dateOfSurvey.$valid }">
                            <label class="col-lg-2 control-label"> DATE OF SURVEY :</label>
                            <div class="col-lg-10">
                                <input type="date" class="form-control" name="dateOfSurvey"
                                       ng-model="newCoversheet.dateOfSurvey"
                                       placeholder="dateOfSurvey Assignment" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.dateOfSurvey.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Date of survey is required
                                </h5>
                            </div>
                        </div>  <!--dateOfSurvey-->
                        <div class="form-group col-lg-10 col-md-10"
                             ng-class="{'has-error':coversheetForm.surveyReason.$invalid &&  coversheetFormSubmitted, 'has-success':coversheetForm.surveyReason.$valid }">
                            <label class="col-lg-2 control-label"> ALLEGED REASON FOR SURVEY: </label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="surveyReason"
                                       ng-model="newCoversheet.surveyReason"
                                       placeholder="Survey Reason" required>
                            </div>
                            <div class="col-lg-6 col-xs-offset-4">
                                <h5 ng-if="coversheetForm.surveyReason.$invalid &&  coversheetFormSubmitted"
                                    class=" help-block ">Survey Reason is required
                                </h5>
                            </div>
                        </div>  <!--surveyReason-->


                    </div>

                </fieldset>

                <div class="row">
                    <div class="form-group col-lg-12 pull-right">
                        <button type="submit" class="btn btn-primary">Insert<span
                                ng-if="isSaving">ing........</span></button>
                    </div>  <!--insert button-->

                </div>     <!--Button-->
            </form>
            <!--@end SignUp form-->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" ng-click="modelinsertClose()">Close</button>

        </div>

    </div>


</div>

