<div ng-include="global.navUrl"></div>

<p>coversheet</p>

<button ng-click="mdShow()">Add New</button>

<div class="panel panel-success">
    <div class="panel-heading">
        <h3 class="panel-title">File NO List</h3>
    </div>
    <div class="panel-body">

    </div>
    <div class="panel-footer">
        <button></button>
    </div>
</div>


<div class="modal show" ng-if="md">
    <div class="modal-dialog" id="myModal">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                >&times;</button>

                <legend class="modal-title">Email Cover Sheet</legend>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addCoverSheetForm" ng-submit="saveNewCoverSheet(addCoverSheetForm)"
                      novalidate>
                    <fieldset>

                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control has-error" name="Tname" id="Tname"
                                       ng-model="newCoverSheet.Tname"
                                       placeholder="Enter Name(To)"
                                       required
                                       minlength="3">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                            <div class="col-lg-6">
                                <input type="text" class="form-control has-error" name="Temail" id="Temail"
                                       ng-model="newCoverSheet.Temail"
                                       placeholder="EnterTemail(To)"
                                       required
                                >
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="mdClose()">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
