<nav class="home-header navbar navbar-inverse navbar-fixed-top main-color" ng-controller="navController">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-2">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="#/dashboard"><img class="home-brand" src="/img/footer.png" alt=""></a>
            <!--<a class="navbar-brand" href="#/dashboard">{{global.user.role}}</a>-->
            <!--<a class="navbar-brand" href="#/dashboard">{{global.isAdmin}}</a>-->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in navUrl" ng-class="checkActiveLink(link.url)">
                    <a ng-href="{{link.url}}">{{link.link}} </a>
                </li>

            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>

            </form>
            <ul class="nav navbar-nav navbar-right">
                <li><p> welcome {{global.user.name}}</p></li>
                <li ng-if="global.isAdmin">
                    <a class="btn btn-default" ng-click="">Users</a>
                </li>
                <li>
                    <a class="btn btn-danger" ng-click="doLogout()">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

